<h3> Formulaire création de Version</h3>

<div>
  <%= form_for new_version, url: software_versions_path(software) do |form| %>
    <%= form.label :name, "Nom:" %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :description, "description:" %>
    <%= form.text_field :description %>
    <br>
    <%= form.submit 'Valider' %>
  <% end %>
</div>
