<h3> Formulaire création de Software</h3>

<div>
  <%= form_for new_software do |form| %>
    <%= form.label :name, "Nom:" %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :description, "description:" %>
    <%= form.text_field :description %>
    <br>
    <%= form.submit 'Valider' %>
  <% end %>
</div>
