<div class="centered">
  <div class="column">
    <div>
      <div> <%= "-> #{version.full_name}" %> </div>
      <ul>
        <li>Id: <%= version.id %> </li>
        <li>Name: <%= version.name %> </li>
        <li>Description: <%= version.description %> </li>
        <li>Date de création: <%= version.created_at.to_date %> </li>
      </ul>
    </div>

    <br>
    <div class="column">
      <h3> Liste des Concepts associés</h3>

      <% concepts.each do |concept| %>
        <div>
          -> <%= link_to concept.name, version_concept_path(version, concept) %>
        </div>
      <% end %>
    </div>
    <br>
    <div> <%= link_to 'Lien vers le software', software_path(software) %> </div>
  </div>
</div>
