<h1>Modifier un Logiciel</h1>
<br>

<%= form_with model: software do |form| %>
  <%= form.label :name, 'Nom : ' %>
  <%= form.text_field :name, placeholder: 'Name' %>
  <br>
  <%= form.label :description, 'Description :' %>
  <%= form.text_area :description, size: "20x2", placeholder: 'Description' %>
  <br>
  <%= form.label :online, 'En ligne ?' %>
  <%= form.check_box :online, placeholder: 'Mettre en ligne ?' %>
  <br>
  <%= form.submit %>
<% end %>
