<!-- Page not used for now -->

<h1>Index des Softwares</h1>
<br>
<div>
  <%= link_to 'Créer un software', new_software_path %>
</div>
<br>
<div>
  <% softwares.each do |software| %>
    <div class="container">
      <ul>
        <li> Id: <%= software.id %> </li>
        <li> Name: <%= software.name %> </li>
        <li> Description: <%= software.description %> </li>
        <li> Date de création: <%= software.created_at.to_date %> </li>
        <%= link_to 'lien de la page', software_path(software) %>
      </ul>
      <br>
    </div>
  <% end %>
</div>
