<h1>Softwares#new</h1>

<br>

<h3> Formulaire création de Software</h3>

<div>
  <%= form_with model: new_software do |form| %>
    <%= form.label :online, "Mettre en ligne" %>
    <%= form.check_box :online %>
    <br>
    <%= form.label :version, "Version" %>
    <%= form.text_field :version %>
    <br>
    <%= form.submit 'Valider' %>
  <% end %>
</div>
