<h1>Concepts#index</h1>
<p>Find me in app/views/concepts/index.html.erb</p>

<div>
  <%= link_to 'Créer un concept', new_concept_path %>
</div>

<div>
  <% @concepts.each do |concept| %>
    <div class="container">
      <ul>
        <li>Id: <%= concept.id %> </li>
        <li>Name: <%= concept.name %> </li>
        <li>Short text: <%= concept.short_text %> </li>
        <li>Description: <%= concept.description %> </li>
        <li>Date de création: <%= concept.created_at.to_date %> </li>
        <%= link_to 'lien de la page', concept_path(concept) %>
      </ul>
      <br>
    </div>
  <% end %>
</div>
