<br>
<h3> Formulaire création de Concept</h3>

<div class="centered">
  <%= form_for new_concept, url: version_concepts_path(version) do |form| %>
    <%= form.label :name, "Name :" %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :short_text, "Text :" %>
    <%= form.text_field :short_text %>
    <br>
    <%= form.label :description, "Description :" %>
    <%= form.text_field :description %>
    <br>
    <%= form.submit 'Valider' %>
  <% end %>
</div>
