<br>

<h3> Formulaire création de Concept</h3>

<div class="centered">

  <%= form_for new_software_concept_path(software, new_concept) do |form| %>
    <%= form.label :name, "Nom:" %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :short_text, "text:" %>
    <%= form.text_field :short_text %>
    <br>
    <%= form.label :description, "description:" %>
    <%= form.text_field :description %>
    <br>
    <%= form.submit 'Valider' %>
  <% end %>

</div>
