<h3>SHOW CONCEPT</h3>

<ul>
  <li>Id: <%= concept.id %> </li>
  <li>Name: <%= concept.name %> </li>
  <li>Short text: <%= concept.short_text %> </li>
  <li>Description: <%= concept.description %> </li>
  <li>Date de création: <%= concept.created_at.to_date %> </li>
</ul>
